<div class="container__big-card">
  <div class="big-card__photo">
      <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNXtxC18V97y7-yTB7XMcAiznoIr5nM3N9jQ&s"
      alt=""
      >


  </div>
  <div class="big-card__title">
      <h1> <a href="#"> Saiu a nova versão do Angular </a></h1>
  </div>
  <div class="big-card__description">
          <P> <a href="#">
            descrição do card
            deverá ser multiline /big-card__title
            para parecer sério
            descrição do card
            deverá ser multiline /big-card__title
            para parecer sério            descrição do card
            deverá ser multiline /big-card__title
            para parecer sério            descrição do card
            deverá ser multiline /big-card__title
            para parecer sério
          </a>
          </P>
  </div>
</div>
