<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title> </app-menu-title>
  <!--Esta div é a responsável por ter os cards da pagina-->
  <!--As duas sub divs são colocadas em linha pelos display flex row-->
  <div class="container__articles">
  <!--Esse parte tem a caixa maior-->
   <div class="articles_main">
    <app-big-card></app-big-card>
     </div>

   <!--Essa parte responsável por ter três cards pequenos-->
   <div class="articles_others">
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
     </div>
</div>
